# Python environments and cache
.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Datasets and imagery
data/
*.png
*.jpg
*.tif

# Machine Learning Model Weights
models/
*.pth
*.pt

# System and Environment files
.env
.DS_Store
